@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray overflow-x-hidden;
}

.action-button {
  @apply p-3 bg-teal-400 text-gray rounded font-bold transition-all duration-500 inline-block uppercase;
}

.action-button:hover {
  @apply bg-teal-300;
}

section h3 {
  @apply text-teal-300 text-5xl font-bold;
}

hr {
  border: 0;
  height: 1px;
  width: 50%;
  background-image: linear-gradient(to right, rgba(129, 230, 217, 1), rgba(129, 230, 217, 0.75), rgba(129, 230, 217, 0));
}

.highlight {
  @apply text-teal-300 font-bold;
}
